In [2]:
import pandas as pd
import numpy as np

In [ ]:
Cargamos las dos hojas del excel para poder hacer una uni√≥n, el mayor reto es no perder la jerarquia

In [4]:
taxonesaire=pd.read_excel('Diversidad Hospital_columscreator_HPy.xlsx', sheet_name='AIRE')
taxonesaire.head(15)

,taxlevel,rankID,taxon,daughterlevels,total,EH-A,ICU-CO-A,ICU-TR-A,ICU-PR1-A,OR-A,CO-A,TR-A,PR-A,ICU-PR2-A,dominio,phylo,clase,orden,familia,genero
0,0,0,Root,1,302197,24726,45269,34453,15626,25580,43204,33321,57900,22118,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.1,Bacteria,21,302197,24726,45269,34453,15626,25580,43204,33321,57900,22118,Bacteria,NaN,NaN,NaN,NaN,NaN
2,2,0.1.1,Acidobacteria,5,1280,0,0,0,122,0,0,0,0,1158,Bacteria,Acidobacteria,NaN,NaN,NaN,NaN
3,3,0.1.1.1,Acidobacteria_unclassified,1,5,0,0,0,5,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,NaN,NaN,NaN
4,4,0.1.1.1.1,Acidobacteria_unclassified,1,5,0,0,0,5,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,NaN,NaN
5,5,0.1.1.1.1.1,Acidobacteria_unclassified,1,5,0,0,0,5,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified,NaN
6,6,0.1.1.1.1.1.1,Acidobacteria_unclassified,0,5,0,0,0,5,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified
7,3,0.1.1.2,Acidobacteriia,2,1216,0,0,0,58,0,0,0,0,1158,Bacteria,Acidobacteria,Acidobacteriia,NaN,NaN,NaN
8,4,0.1.1.2.1,Acidobacteriales,2,24,0,0,0,24,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,NaN,NaN
9,5,0.1.1.2.1.1,Acidobacteriaceae_(Subgroup_1),4,21,0,0,0,21,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),NaN
10,6,0.1.1.2.1.1.1,Acidipila,0,9,0,0,0,9,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Acidipila
11,6,0.1.1.2.1.1.2,Bryocella,0,2,0,0,0,2,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Bryocella
12,6,0.1.1.2.1.1.3,Granulicella,0,3,0,0,0,3,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Granulicella
13,6,0.1.1.2.1.1.4,Acidobacteriaceae_(Subgroup_1),0,7,0,0,0,7,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Acidobacteriaceae_(Subgroup_1)
14,5,0.1.1.2.1.2,Acidobacteriales_unclassified,1,3,0,0,0,3,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriales_unclassified,NaN

In [5]:
taxonessup=pd.read_excel('Diversidad Hospital_columscreator_Hpy.xlsx', sheet_name='SUP')
taxonessup.head(15)

,taxlevel,rankID,taxon,daughterlevels,total,ICU-PR2-S,ICU-CO-S,ICU-TR-S,ICU-PR1-S,OR-S,EH-S,CO-S,TR-S,PR-S,dominio,phylo,clase,orden,familia,genero
0,0,0,Root,1,171719,23652,15738,15239,18508,19693,40072,15156,11068,12593,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.1,Bacteria,27,171719,23652,15738,15239,18508,19693,40072,15156,11068,12593,Bacteria,NaN,NaN,NaN,NaN,NaN
2,2,0.1.1,Acidobacteria,6,780,131,74,148,11,105,0,30,144,137,Bacteria,Acidobacteria,NaN,NaN,NaN,NaN
3,3,0.1.1.1,Acidobacteria_unclassified,1,5,4,0,1,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,NaN,NaN,NaN
4,4,0.1.1.1.1,Acidobacteria_unclassified,1,5,4,0,1,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,NaN,NaN
5,5,0.1.1.1.1.1,Acidobacteria_unclassified,1,5,4,0,1,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified,NaN
6,6,0.1.1.1.1.1.1,Acidobacteria_unclassified,0,5,4,0,1,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified
7,3,0.1.1.2,Acidobacteriia,3,424,48,30,56,11,105,0,30,144,0,Bacteria,Acidobacteria,Acidobacteriia,NaN,NaN,NaN
8,4,0.1.1.2.1,Acidobacteriales,3,29,10,5,0,7,7,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,NaN,NaN
9,5,0.1.1.2.1.1,Acidobacteriaceae_(Subgroup_1),3,23,10,0,0,6,7,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),NaN
10,6,0.1.1.2.1.1.1,Acidipila,0,8,8,0,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Acidipila
11,6,0.1.1.2.1.1.2,Granulicella,0,9,2,0,0,0,7,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Granulicella
12,6,0.1.1.2.1.1.3,Acidobacteriaceae_(Subgroup_1),0,6,0,0,0,6,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Acidobacteriaceae_(Subgroup_1)
13,5,0.1.1.2.1.2,Acidobacteriales_unclassified,1,5,0,5,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriales_unclassified,NaN
14,6,0.1.1.2.1.2.1,Acidobacteriales_unclassified,0,5,0,5,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriales_unclassified,Acidobacteriales_unclassified

In [6]:
taxonessup.columns

Index(['taxlevel', 'rankID', 'taxon', 'daughterlevels', 'total', 'ICU-PR2-S',
       'ICU-CO-S', 'ICU-TR-S', 'ICU-PR1-S', 'OR-S', 'EH-S', 'CO-S', 'TR-S',
       'PR-S', 'dominio', 'phylo', 'clase', 'orden', 'familia', 'genero'],
      dtype='object')

In [7]:
taxonesaire.columns

Index(['taxlevel', 'rankID', 'taxon', 'daughterlevels', 'total', 'EH-A',
       'ICU-CO-A', 'ICU-TR-A', 'ICU-PR1-A', 'OR-A', 'CO-A', 'TR-A', 'PR-A',
       'ICU-PR2-A', 'dominio', 'phylo', 'clase', 'orden', 'familia', 'genero'],
      dtype='object')

 ### <span style='color:Red'> Unificar en un solo documento  </span>

In [14]:
# outer join in python pandas

outer_join_df=pd.merge(taxonesaire, taxonessup, on=['taxon','taxlevel','dominio', 'phylo', 'clase', 'orden', 'familia',
       'genero'], how='outer')

outer_join_df.head(10)

,taxlevel,rankID_x,taxon,daughterlevels_x,total_x,EH-A,ICU-CO-A,ICU-TR-A,ICU-PR1-A,OR-A,...,total_y,ICU-PR2-S,ICU-CO-S,ICU-TR-S,ICU-PR1-S,OR-S,EH-S,CO-S,TR-S,PR-S
0,0,0,Root,1.0,302197.0,24726.0,45269.0,34453.0,15626.0,25580.0,...,171719.0,23652.0,15738.0,15239.0,18508.0,19693.0,40072.0,15156.0,11068.0,12593.0
1,1,0.1,Bacteria,21.0,302197.0,24726.0,45269.0,34453.0,15626.0,25580.0,...,171719.0,23652.0,15738.0,15239.0,18508.0,19693.0,40072.0,15156.0,11068.0,12593.0
2,2,0.1.1,Acidobacteria,5.0,1280.0,0.0,0.0,0.0,122.0,0.0,...,780.0,131.0,74.0,148.0,11.0,105.0,0.0,30.0,144.0,137.0
3,3,0.1.1.1,Acidobacteria_unclassified,1.0,5.0,0.0,0.0,0.0,5.0,0.0,...,5.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.1.1.1.1,Acidobacteria_unclassified,1.0,5.0,0.0,0.0,0.0,5.0,0.0,...,5.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,0.1.1.1.1.1,Acidobacteria_unclassified,1.0,5.0,0.0,0.0,0.0,5.0,0.0,...,5.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,0.1.1.1.1.1.1,Acidobacteria_unclassified,0.0,5.0,0.0,0.0,0.0,5.0,0.0,...,5.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,3,0.1.1.2,Acidobacteriia,2.0,1216.0,0.0,0.0,0.0,58.0,0.0,...,424.0,48.0,30.0,56.0,11.0,105.0,0.0,30.0,144.0,0.0
8,4,0.1.1.2.1,Acidobacteriales,2.0,24.0,0.0,0.0,0.0,24.0,0.0,...,29.0,10.0,5.0,0.0,7.0,7.0,0.0,0.0,0.0,0.0
9,5,0.1.1.2.1.1,Acidobacteriaceae_(Subgroup_1),4.0,21.0,0.0,0.0,0.0,21.0,0.0,...,23.0,10.0,0.0,0.0,6.0,7.0,0.0,0.0,0.0,0.0

In [15]:
outer_join_df['total']= outer_join_df['total_x'] + outer_join_df['total_y']

In [16]:
outer_join_df

,taxlevel,rankID_x,taxon,daughterlevels_x,total_x,EH-A,ICU-CO-A,ICU-TR-A,ICU-PR1-A,OR-A,...,ICU-PR2-S,ICU-CO-S,ICU-TR-S,ICU-PR1-S,OR-S,EH-S,CO-S,TR-S,PR-S,total
0,0,0,Root,1.0,302197.0,24726.0,45269.0,34453.0,15626.0,25580.0,...,23652.0,15738.0,15239.0,18508.0,19693.0,40072.0,15156.0,11068.0,12593.0,473916.0
1,1,0.1,Bacteria,21.0,302197.0,24726.0,45269.0,34453.0,15626.0,25580.0,...,23652.0,15738.0,15239.0,18508.0,19693.0,40072.0,15156.0,11068.0,12593.0,473916.0
2,2,0.1.1,Acidobacteria,5.0,1280.0,0.0,0.0,0.0,122.0,0.0,...,131.0,74.0,148.0,11.0,105.0,0.0,30.0,144.0,137.0,2060.0
3,3,0.1.1.1,Acidobacteria_unclassified,1.0,5.0,0.0,0.0,0.0,5.0,0.0,...,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
4,4,0.1.1.1.1,Acidobacteria_unclassified,1.0,5.0,0.0,0.0,0.0,5.0,0.0,...,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,6,NaN,Mollicutes_RF39_ge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1211,4,NaN,Opitutales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1212,5,NaN,Puniceicoccaceae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1213,6,NaN,Puniceicoccaceae_ge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1214,6,NaN,ADurb.Bin063-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

Limpio el dataframe de columnas que se generan que no van a ser usadas en analisis posteriores

In [17]:
del outer_join_df['rankID_x']
del outer_join_df['daughterlevels_x']
del outer_join_df['total_x']
del outer_join_df['rankID_y']
del outer_join_df['daughterlevels_y']
del outer_join_df['total_y']

In [18]:
outer_join_df

,taxlevel,taxon,EH-A,ICU-CO-A,ICU-TR-A,ICU-PR1-A,OR-A,CO-A,TR-A,PR-A,...,ICU-PR2-S,ICU-CO-S,ICU-TR-S,ICU-PR1-S,OR-S,EH-S,CO-S,TR-S,PR-S,total
0,0,Root,24726.0,45269.0,34453.0,15626.0,25580.0,43204.0,33321.0,57900.0,...,23652.0,15738.0,15239.0,18508.0,19693.0,40072.0,15156.0,11068.0,12593.0,473916.0
1,1,Bacteria,24726.0,45269.0,34453.0,15626.0,25580.0,43204.0,33321.0,57900.0,...,23652.0,15738.0,15239.0,18508.0,19693.0,40072.0,15156.0,11068.0,12593.0,473916.0
2,2,Acidobacteria,0.0,0.0,0.0,122.0,0.0,0.0,0.0,0.0,...,131.0,74.0,148.0,11.0,105.0,0.0,30.0,144.0,137.0,2060.0
3,3,Acidobacteria_unclassified,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
4,4,Acidobacteria_unclassified,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,6,Mollicutes_RF39_ge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1211,4,Opitutales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1212,5,Puniceicoccaceae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1213,6,Puniceicoccaceae_ge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1214,6,ADurb.Bin063-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [19]:
outer_join_df.columns

Index(['taxlevel', 'taxon', 'EH-A', 'ICU-CO-A', 'ICU-TR-A', 'ICU-PR1-A',
       'OR-A', 'CO-A', 'TR-A', 'PR-A', 'ICU-PR2-A', 'dominio', 'phylo',
       'clase', 'orden', 'familia', 'genero', 'ICU-PR2-S', 'ICU-CO-S',
       'ICU-TR-S', 'ICU-PR1-S', 'OR-S', 'EH-S', 'CO-S', 'TR-S', 'PR-S',
       'total'],
      dtype='object')

In [20]:
outer_join_df = outer_join_df[['taxlevel', 'taxon', 'EH-A', 'ICU-CO-A', 'ICU-TR-A', 'ICU-PR1-A',
       'OR-A', 'CO-A', 'TR-A', 'PR-A', 'ICU-PR2-A', 'ICU-PR2-S', 'ICU-CO-S',
       'ICU-TR-S', 'ICU-PR1-S', 'OR-S', 'EH-S', 'CO-S', 'TR-S', 'PR-S',
       'total', 'dominio', 'phylo',
       'clase', 'orden', 'familia', 'genero',]]

In [21]:
outer_join_df.to_excel('Diversidad Hospital_merge_Hpy.xlsx',index=False, sheet_name='MERGE')